@media screen and (max-width : 1700px){
    #nav-js-mystyle{
        font-size: 1.5rem;
    }
    .navcolorbar1{
        font-size: 2rem;
    }
    .nav-link.active{
        font-size: 2rem;
    }
    .nav-item{
        margin-right: 50px;
        padding-inline: 1px;
    }
    #hero h1{
        font-size: 3.2rem;
        padding-bottom: 25px;
    }
    #hero h2{
        font-size: 2.5rem;
        padding-bottom: 10px;
        padding-top: 40px;
    }
    #hero p{
        font-size: 1.5rem;
        padding-bottom: 50px;
    }
    #hero .img-hero{
        padding-top: 10px;
        width: 45%;
        height: auto;
    }
    #hero .button.button-custom1{
        min-width: 400px;
        height: 90px;
        font-size: 2.8rem;
    }
    #hero .button-custom1 img{
        width: 70px ;
        height: 70px ;
    }
    #hero .social-icon img{
        width: 55px;
        height: 55px;
        margin-right: 1em;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    #hero .Download{
        font-size: 2rem;
    }
    #Skill .card img{
        width: 40%;
        height: auto;
    }
    #Certificate img{
        width: 40%;
        padding-top: 50px;
        padding-left: 40px;
    }
    #Certificate p{
        font-size: 1.5rem;
    }
    #gallery .carousel-inner img{
        width: 900px !important;
        height: 800px !important;
        padding-top: 20px;
        border-radius: 15%;
        -webkit-border-radius: 15%;
        -moz-border-radius: 15%;
        -ms-border-radius: 15%;
        -o-border-radius: 15%;
    }
    #gallery h1{
        padding-bottom: 5px;
        padding-top: 15px;
    }
    #gallery .carousel-inner img{
        max-width: 1200px !important;
        max-height: 1200px !important;
        margin-left: 100px;
        padding-top: 10px;
        border-radius: 20%;
        -webkit-border-radius: 20%;
        -moz-border-radius: 20%;
        -ms-border-radius: 20%;
        -o-border-radius: 20%;
    }
    #gallery video{
        margin-bottom: 150px;
        margin-left: 150px;
        width: 800px;
        height: 700px;
    }
}

@media screen and (max-width : 1410px){

    .navcolorbar1{
        font-size: 1.3rem;
    }
    .nav-link.active{
        font-size: 1.3rem;
    }
    .nav-item{
        margin-right: 40px;
        padding-inline: 1px;
    }
    #hero h1{
        font-size: 2.0rem;
        padding-bottom: 25px;
    }
    #hero h2{
        font-size: 1.8rem;
        padding-bottom: 15px;
        padding-top: 30px;
    }
    #hero p{
        font-size: 1.3rem;
        padding-bottom: 60px;
    }
    #hero .img-hero{
        margin-top: 30px !important;
        width: 45%;
        height: 45%;
        margin: 5px;
    }
    #hero .button{
        margin-top: 100px;
    }
    #hero .button.button-custom1{
        min-width: 300px;
        height: 70px;
        font-size: 2.1rem;
    }
    #hero .button-custom1 img{
        width: 50px;
        height: 50px;
    }
    #hero .row{
        padding-bottom: 100px;
    }
    #hero .social-icon img{
        width: 45px;
        height: 45px;
        margin-right: 1em;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    #hero .Download{
        font-size: 1.5rem;
    }
    .skills-konten h3{
        font-style: start !important;
        font-size: 1.2rem;
    }
    .skills-konten p{
        font-size: 0.9rem !important;
    }
    #Certificate img{
        width: 80%;
        padding-top: 50px;
        padding-left: 40px;
    }
    #Certificate p{
        font-size: 1.2rem;
    }
    #Certificate h1{
        font-size: 1.7rem;
    }
    #gallery h1{
        font-size: 1.7rem;
        padding-top: 50px;
    }
    #gallery .carousel-inner img{
        max-width: 700px !important;
        max-height: 800px !important;
        margin-left: 220px;
        padding-top: 10px;
        border-radius: 20%;
        -webkit-border-radius: 20%;
        -moz-border-radius: 20%;
        -ms-border-radius: 20%;
        -o-border-radius: 20%;
    }
    #gallery video{
        margin-bottom: 0px;
        margin-left: 150px;
        width: 800px;
        height: 700px;
    }
}
@media screen and (width <= 983px) and (width >= 768px){
    #hero .social-icon img{
        width: 25px;
        height: 25px;
        margin-right: 0em;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    #hero .img-hero{
        width: 60% !important;
        margin: 0px !important;
    }
    #gallery .carousel-inner img{
        max-width: 700px !important;
        max-height: 800px !important;
        margin-left: 10px;
        padding-top: 10px;
        border-radius: 20%;
        -webkit-border-radius: 20%;
        -moz-border-radius: 20%;
        -ms-border-radius: 20%;
        -o-border-radius: 20%;
    }
    #gallery video{
        margin-bottom: 0px;
        margin-left: 10px;
        width: 800px;
        height: 700px;
    }
}

@media screen and (max-width : 767px){
    #hero h1{
        font-size: 2.6rem;
    }
    #hero h2{
        font-size: 2.2rem;
    }
    #hero p{
        font-size: 1.2rem;
    }
    #hero .img-hero{
        margin-left: 90px;
        width: 80%;
        height: 70%;
    }
    #Certificate img{
        width: 450px;
        height: 450px;
        margin: 0px;
    }
    #Certificate h1{
        font-size: 1.7rem;
    }
    #Certificate p{
        font-size: 1.2rem;
    }
    #Skill h1{
        font-size: 1.7rem;
    }
    #about h1{
        font-size: 1.7rem;
    }
    #gallery .carousel-inner img{
        max-width: 500px !important;
        max-height: 600px !important;
        margin-left: 20px;
        padding-top: 10px;
        border-radius: 20%;
        -webkit-border-radius: 20%;
        -moz-border-radius: 20%;
        -ms-border-radius: 20%;
        -o-border-radius: 20%;
    }
    #gallery video{
        margin-bottom: 0px;
        margin-left: 10px;
        width: 800px;
        height: 700px;
    }


}
@media screen and ( max-width : 576px){
    hr{
        width: 85%;
    }
    #hero h1{
        font-size: 1.7rem;
    }
    #hero h2{
        margin-top: 0px;
        padding: 0px;
        font-size: 1.3rem;
    }
    #hero p{
        padding-top: 0px;
        margin-top: 0px;
        font-size: 1rem;
    }
    #hero .img-hero{
        width: 95%;
        height: 95%;
        margin: 0px;
    }
    #about h1{
        font-size: 1.7rem;
    }
    #about .tagline{
        font-size: 0.8rem;
    }
    #about p{
        padding-top: 0px;
        margin-top: 0px;
        font-size: 1rem;
    }
    #about img{
        width: 200px;
        height: 200px;
    }
    #Skill h1{
        font-size: 1.7rem;
    }
    #Certificate img{
        width: 350px;
        height: 350px;
    }
    #Certificate h1{
        font-size: 1.7rem;
    }
    #Certificate p{
        font-size: 1.2rem;
    }
    #tagline p{
        font-size: 1.1rem;
    }
    #tagline span{
        font-size: 1rem;
    }
    #tagline img{
        width: 40px;
        height: 40px;
    }
    #gallery h1{
        font-size:1.7rem;
        padding-top: 50px;
    }
    #gallery .carousel-inner img{
        width: 420px !important;
        height: 500px !important;
        padding-top: 10px;
        border-radius: 20%;
        -webkit-border-radius: 20%;
        -moz-border-radius: 20%;
        -ms-border-radius: 20%;
        -o-border-radius: 20%;
    }
    #gallery video{
        padding-top: 10px;
        width: 420px;
        height: 500px;
    }
    .tagline p{
        font-size: 1.5rem;
    }
}
@media screen and ( max-width : 350px){
    #hero h1{
        font-size: 2.6rem;
    }
    #hero h2{
        font-size: 2.2rem;
    }
    #hero p{
        font-size: 1.6rem;
    }
    #hero .img-hero{
        width: 100%;
        height: 100%;
        margin-left: 2px;
    }
    #about h1{
        font-size: 2.6rem;
    }
    #about .tagline{
        font-size: 1.3rem;
        text-align: center !important;
    }
    #about p{
        font-size: 1.6rem;
        text-align: justify !important;
    }
    #about table{
        margin: 1px;
    }
    #about table img{
        width: 400px;
        height: 400px;
    }
    /* ANIMASI GAMBAR ABOUT */
    #Skill h1{
        font-size: 2.6rem;
    }
    #Skill table{
        margin: 1px;
        font-size: 1.5rem;
        font-weight: 600;
    }
    #Skill table img{
        width: 150px;
        height: 100px;
    }
    #Skill .card{
        padding-right: 20px !important;
        padding-left: 20px !important;
        margin-bottom: 20px;
      }
    .skills-konten h3{
        text-align: center !important;
        font-size: 2.6rem;
    }
    .skills-konten p{
        text-align: justify !important;
        font-size: 1.6rem;
    }
    .skills-konten img{
        width: 250px !important;
        height: 250px !important;
        margin-left: 100px !important;
    }
    #gallery h1{
        font-size: 2.6rem;
    }
    .porto-education img{
        width: 50px !important;
        height: 50px !important;
        padding-bottom: 40px;
    }
    .porto-business img{
        width: 50px !important;
        height: 50px !important;
        padding-bottom: 40px;
    }
    #gallery .carousel-inner img{
        width: 300px !important;
        height: 400px !important;
        padding-top: 10px;
        border-radius: 20%;
        -webkit-border-radius: 20%;
        -moz-border-radius: 20%;
        -ms-border-radius: 20%;
        -o-border-radius: 20%;
    }

}

